* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}

a {
  color: orange;
}

.hidden {
  display: none;
}

.grid {
  display: grid;
  grid-gap: 1rem 0.25rem;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  position: relative;
}

.item {
  border: 0.25rem solid transparent;
  cursor: pointer;
  font-size: 1.75rem;
}

.item.selected {
  border-color: orange;
}

.item img {
  height: 10rem;
  object-fit: contain;
  pointer-events: none;
  width: 100%;
}

.item-metadata {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.item-metadata h2, .item-metadata p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-metadata h2 {
  font-size: 1rem;
  line-height: 1.5;
}

.item-metadata p {
  font-size: 0.75rem;
}

.date {
  color: gray;
  font-style: italic;
}

.checkbox {
  align-self: center;
}

.expanded {
  position: relative;
}

.expanded:after {
  display: block;
  position: absolute;
  content: "";
  border: 1rem solid transparent;
  border-bottom-color: rgb(25, 25, 25);
  border-top: none;
  bottom: -1.5rem;
  left: 50%;
  margin-left: -1rem;
}

.expansion {
  background-color: rgb(25, 25, 25);
  color: rgb(215, 215, 215);
  display: flex;
  flex-direction: column;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 3;
  max-height: 100rem;
  overflow: hidden;
  transition: all 0.1s ease-in;
}

.expansion.collapsed {
  max-height: 1vh;
}

.main {
  display: flex;
  justify-content: start;
  margin: 1rem;
}

.image-palette {
  flex: 1;
  width: 20rem;
}

.image-palette img {
  max-height: 40rem;
  object-fit: contain;
  width: 100%;
}

.palette {
  line-height: 0;
  list-style: none;
  margin: 0;
  margin-bottom: 1rem;
  padding: 0;
}

.palette li {
  display: inline-block;
  height: 50px;
}

.metadata {
  flex: 2;
  margin-left: 1rem;
}

.metadata h3 {
  font-size: 1.5rem;
}

.provider {
  display: block;
  margin: 1rem 0;
}

.subjects {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subjects li {
  background: gray;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 0.25rem;
  max-width: 20rem;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.add {
  align-self: center;
  background: orange;
  border-radius: 0.25rem;
  color: black;
  margin: 1rem;
  padding: 1rem 0;
  text-align: center;
  width: 6rem;
}