* {
  box-sizing: border-box;
}

body {
  margin: 1rem;
}

#grid {
  position: relative;
}

#selection {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
}

.base {
  width: 100%;
}

.hover {
  background-color: white;
  left: 0;
  padding: 1rem 0 1rem 0;
  min-width: 250px;
  max-width: 30%;
  position: fixed;
  top: 0;
  left: auto;
  right: auto;
}

.left {
  left: 1rem;
  padding: 1rem 1rem 1rem 0;
  right: auto;
}

.right {
  left: auto;
  padding: 1rem 0 1rem 1rem;
  right: 1rem;
}

.hover img {
  display: block;
  line-height: 0;
  width: 100%;
}

.palette {
  line-height: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

.palette li {
  display: inline-block;
  height: 50px;
}

.hidden {
  display: none;
}

.title {
  font-size: 1.25rem;
}

.subjects {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subjects li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}