* {
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 16px;
}


.toolbar {
  background: white;
  border-bottom: 0.075rem solid gray;
  display: grid;
  grid-column-gap: 0.5rem;
  grid-template: 
                "new name select"
                "new counter select" auto / 5rem 1fr 10rem;
  margin: 0.25rem 0.25rem 1rem;
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.list-new {
  background-color: orange;
  border: none;
  color: white;
  cursor: pointer;
  grid-area: new;
}

.list-name-tools {
  align-items: baseline;
  display: flex;
  grid-area: name;
}

.list-name {
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 0;
}

.list-edit, .list-clear {
  background-color: transparent;
  border: none;
  color: #555;
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: normal;
}

.list-clear {
  color: #a00;
}

.list-delete {
  align-self: start;
  background-color: #a00;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
  margin-left: auto;
  margin-top: 0.125rem;
  padding: 0.25rem 1rem;
}

.list-name[contenteditable="true"]:focus {
  color: #555;
  font-style: italic;
}

.list-details {
  align-items: center;
  display: flex;
  grid-area: counter;
  margin-bottom: 0.5rem;
}

.list-items {
  display: flex;
  height: 1.5rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  border: 1px solid gray;
  cursor: pointer;
  height: 1.5rem;
  margin-left: 0.5rem;
  width: 1.5rem;
}

.list-item img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.list-selector {
  align-self: start;
  font-size: 0.9rem;
  grid-area: select;
  margin-top: 0.25rem;
}

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.main, .metadata {
  grid-column: 1 / 4;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.main img {
  height: 60vh;
  object-fit: contain;
  width: 100%;
}

.palette {
  align-self: stretch;
  line-height: 0;
  list-style: none;
  margin: 10vh 0 0 0;
  padding: 0;
}

.palette li {
  display: inline-block;
  height: 10vh;
}

.close img, .mid img, .far img {
  height: 100%;
  pointer-events: none;
  width: 100%;
  object-fit: contain;
}

.subjects {
  list-style: none;
  margin: 0;
  padding: 0;
}

.subjects li {
  background: lightblue;
  border-radius: 0.25rem;
  display: inline-block;
  margin: 0.25rem;
  max-width: 20rem;
  overflow: hidden;
  padding: 0.25rem 0.5rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item-label {
  align-self: center;
}

.item-label span {
  color: gray;
  font-size: 0.8rem;
}

@media (max-width: 800px) {
  .toolbar {
    grid-template: 
    "name"
    "counter" auto / 1fr;
    position: static;
  }
  .list-new, .list-delete, .list-items, .list-selector {
    display: none;
  }
}